* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Color for back-drop*/
body {
    background-color: #d9dcd6;
}
/*Styling for header bar*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Styling for Logo */
.header h1 { 
    display: inline-block;
    font-size: 48px;
}
/*Styling for Logo */
.header h1 .seo { 
    color: #d9dcd6;
}
/*Styling for navigation buttons*/
.header div { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Styling for navigation butons*/
.header div ul {
    list-style-type: none;
}
/*Styling for navigation butons*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Styling for navigation butons*/
a { 
    color: #ffffff;
    text-decoration: none;
}
/*Styleing for image under header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /*This is the image under the Horiseon Header. */
    background-image: url("../images/digital-marketing-meeting.jpg"); 
    background-size: cover;
    background-position: center;
}
/*Styling for paragraphs in left horizontal blue boxes section.*/
p {
    font-size: 16px;
}
/*Styling to push photo to left of left horizontal blue boxes*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Styling to push photo to right horizontal blue boxes*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Formating for the sizes of the left horizontal blue boxes*/
.content {
    width: 75%;
    /*Makes it so the content only takes up the space that is sepecified*/
    display: inline-block; 
    margin-left: 20px;
}
/*Styling for left horizontal blue boxes blue box*/
.content-box { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sizing for left horizontal blue boxes images*/
.content-box img { 
    max-height: 200px;
}
/*Font styling for left horizontal blue boxes*/
.content-box h2 { 
    margin-bottom: 20px;
    font-size: 36px;
}
/*Formating for the right most vertical blue box*/
.benefits { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Style font for heading font in right vertical blue box*/
.benefit-head {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Font for all headers in right vertical blue box*/
.benefit-head h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Sizing for icons sizes right vertical blue box*/
.benefit-head img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Style for bottom logo*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Style for bottom logo*/
.footer h2 {
    font-size: 20px;
}
